{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="about">

    <p><br></p>
    <div class="about-text">
        <p><br></p>
        <p class="head-text" style="text-align: center;">Про нас</p>
        <p class="ab-us" style="margin-left: 90px;  margin-right: 90px; text-align: center;">
            Інтелектуальна система, яка за допомогою комп’ютерного зору та алгоритмів машинного навчання проводить глибокий, багаторівневий аналіз техніки виконання фізичних вправ — як у реальному часі під час живих тренувань, так і на основі попередньо записаного відео.<br><br>
            Система формує індивідуальні рекомендації щодо покращення техніки. Рекомендації є не загальними, а точно орієнтованими на конкретного користувача з урахуванням його рухових особливостей, фізичної форми та прогресу.
        </p>
    </div>
</div>


{% endblock %}
